
<div class="my-3">
  <%= render partial: 'form' %>
</div>

<hr/>

<div class="my-5">
  <div class="row">
    <div class="col-2">
      <%= button_to 'Publish', publish_changelogs_path, method: 'post', class: 'btn btn-light' %>
    </div>
    <div class="col-8">
      Publish pending logs to marketing site and make available for mailing.
    </div>
  </div>
</div>

<div class="my-3">
  <% @changelogs.each do |log|  %>
    <%= render partial: 'shared/changelog', locals: {log: log} %>
  <% end %>
</div>
